@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/rubik-400.woff2") format("woof2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/rubik-700.woff2") format("woof2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/raleway-800.woff2") format("woof2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #fff;
  color: #444;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.button {
  color: #000;
  font-family: "Ralewey" sans-serif;
  font-size: 18px;
  text-align: center;
}
.page-header {
  background: #FFE17F;
  color: #000;
}
.search-form-field::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(/images/search.svg);
  left: 32px;

}
.search-form-field {
  width: 359px;
  height: 36px;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;
  background-color: #FFE17F;
  padding: 0 0 0 48px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;



}
button.search-form-field {
  width: 160px;
  height: 40px;
  padding: 0;
  border-radius: 0px 50px 50px 0px;

}

.navigation-link-login::before {
  content: url(/images/icon-login.svg);
  width: 15px;
  height: 12px;
  position: absolute;
  left: 12px;
}
.navigation-link-compare::before {
  content: url(/images/icon-compare.svg);
  width: 10px;
  height: 12px;
  position: absolute;
  left: 12px;
}
.navigation-link-card::before {
  content: url(/images/card.svg);
  width: 16px;
  height: 14px;
  position: absolute;
  left: 12px;
}
.navigation-link {
  font-family: "Raleway", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
}

.navigation-link-user {
  color: #000;
  padding-left: 27px;
}

.main-catalog-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}


.main-slider-title {
  font-family: "Ralewey", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
}
.main-slider-more, .main-about-more, .main-contacts-button, .button {
  font-family: "Ralewey", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #FFE17F;
  letter-spacing: 3.6px;
}
.main-slider-param-value {
  color: #000;
  font-size: 36px;
}
.main-slider-param-key {
  font-size: 16px;
}

.main-services-list {
  color: #000;
  font-family: "Ralewey", sans-serif;
  text-transform: uppercase;
  background-color: #FFE17F;
  font-weight: 800;
}

.main-services-list-active {
  color: #FFE17F;
  background-color: #000;
}

.main-services-title {
  font-family: "Ralewey", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.main-infoblock-content {
  font-family: "Ralewey", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-about-title, .main-contacts-title {
  color: #000;
  font-family: "Ralewey", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}
.main-about-list {
  font-weight: 700;
  line-height: 20px;
  color: #000;
}
.main-contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.main-address-text {
  font-style: normal;

}
.main-contacts-phone {
  text-decoration: underline;
  color: #444;
  font-style: normal;
}

.main-newsletter-title, .inner-header-title {
  color: #000;
  font-family: "Ralewey", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}
.field {
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.main-newsletter-button {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.page-footer {
  background-color: #444;
  color: #fff;
}
.page-footer a {
  color: #fff;
}
.footer-contacts-address {
  font-style: normal;
}
.footer-contacts-address p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.footer-menu-link {
  font-family: "Ralewey", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.footer-phone-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 20px;
}

.catalog-products {
  background-color: #f0f0f0;
}
.product-list {
  background-color: #fff;
}
.breadcrumbs-link {
  font-size: 16px;
  color: #000;
}
.filter, .sorting-title, .pagination-show-more {
  color: #000;
  font-family: "Ralewey", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}
.catalog-filter-label {
  color: #000;
  font-size: 15px;
  opacity: 0.3;
}
.control-label {
  font-size: 16px;
}
.select-control {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.product-card-title {
  color: #000;
  font-weight: 700;
  line-height: 20px;
}
